<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="soko.ekibun.bangumi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.main.MainActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode">
        </activity>
        <activity
                android:name=".ui.auth.AuthActivity"
                android:label="@string/login_auth">
        </activity>
        <activity android:name=".ui.search.SearchActivity">
        </activity>
        <activity
                android:name=".ui.video.VideoActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
                android:supportsPictureInPicture="true"
                tools:targetApi="n">
        </activity>
        <activity android:name=".ui.subject.SubjectActivity">
        </activity>
    </application>

</manifest>