<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="soko.ekibun.bangumi"
        android:sharedUserId="soko.ekibun.bangumi.share"
        android:sharedUserLabel="@string/app_name">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name="soko.ekibun.videoplayer.service.DialogActivity"
                android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="soko.ekibun.videoplayer.updateCollection.bangumi"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="soko.ekibun.videoplayer.updateProgress.bangumi"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
                android:name="soko.ekibun.videoplayer.service.VideoSubjectProvider"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="soko.ekibun.videoplayer.subjectprovider.bangumi"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="soko.ekibun.bangumi.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>

        <activity
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.main.MainActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
        </activity>
        <activity
                android:name=".ui.web.WebActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
        </activity>
        <activity android:name=".ui.search.SearchActivity">
        </activity>
        <activity
                android:name=".ui.subject.SubjectActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="bgm.tv"
                        android:pathPrefix="/subject"
                        android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="bgm.tv"
                        android:pathPrefix="/subject"
                        android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="subject"
                        android:scheme="bangumi"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:pathPrefix="/bangumi"
                        android:host="playersubject"
                        android:scheme="ekibun"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.topic.TopicActivity">
        </activity>
        <activity
                android:name=".ui.crash.CrashActivity">
        </activity>
        <activity
                android:name=".ui.setting.SettingsActivity"
                android:label="@string/settings"
                android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.main.MainActivity"/>
        </activity>
    </application>

</manifest>